nav {
  display: flex;
  gap: 2rem;
  height: 3rem;
  background-color: white;
  color: var(--color-primary);
  width: 100%; 
  z-index: 1000;
  overflow-x: hidden;
  align-items: center;
}

nav > .filler {
  flex: 1;
}

nav > a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: color 0.3s, border-bottom 0.3s;
  padding: 5px;
  border-bottom: 2px solid transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

nav > a:not(:has(img)):hover {
  border-bottom: 2px solid var(--button-secondary-hover-bg);
}

nav a img {
  height: 2rem;
}

.nav-symbol {
  display: none;
}

.nav-image {
  display: block;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #111827;
  color: silver;
  width: 100%;
  max-width: 100%;
  gap: 6rem;
  padding: 2rem;
  z-index: 999; /* Ensure footer is below the nav */
  overflow-x: hidden;
  box-sizing: border-box;
}

footer > div {
  width: calc(100% / 4);
}

footer h3 {
  color: white;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer ul li {
  padding-bottom: 0.5rem;
}

p img {
  height: 3rem;
  vertical-align: middle; 
}
